 @font-face { 
    font-family: Micro; 
    src: url(font/Segoe_UI.woff); 
}

@font-face {
	font-family: Micro_Bold;
	src: url(font/Segoe_UI_Bold.woff);
}

html, body {
  	font-family: Micro;
}

.navbar {
	background-color: #21262e;
	font-family: Micro;
}

.icon_nav {
	margin-top: 2px;
	margin-right: 7px;
	border-radius: 10%;
}

.navbar-brand {
	font-size: 19px;
	font-weight: bolder;
}

.vertical {
	background-color: #fff;
	width: 2px;
	height: 25px;
	margin-right: 15px;
	margin-left: 10px;
}

h4 {
	font-size: 18px;
	margin-bottom: 0px;
}

.cari {
	border-color: #fff;
	color: #fff;
}

.cari:hover {
	color: #00c4cc;
	background-color: transparent;
	border-color: #00c4cc;
}

h5 i {
	color: #00c4cc;
	margin-top: 10px;
}

.fas:hover {
	color: #fff;
}

.fa-sign-out-alt {
	position: absolute;
	top: 10px;
	font-size: 25px;
}

	/*KIRI*/

.kiri {
	height: 594px;
}

.profil {
	margin-bottom: 20px;
	margin-left: 25px;
}

.avatar img {
	border-radius: 100%;
	width: 40px;
	height: 40px;
}

.nama h5 {
	font-size: 17px;
	color: white;
	padding-top: 9px;
	padding-left: 8px;
}

.hr_profil {
	background: white;
	width: 200px;
	margin-left: 10px;
}

.side_text {
	color: white;
	font-size: 15px;
	margin-bottom: 12px;
}

.side_text:hover {
	color: #00c4cc;
}

.side_active {
	color: cyan;
}



	/*CARD*/
.display-4 {
	font-weight: bold;
}

.card-text {
	color: #fff;
}

.card-body a:hover {
	text-decoration: none;
}

.card-text:hover {
	color: cyan;
}

.card-icons {
	position: absolute;
	z-index: 0;
	top: 25px;
	right: 4px;
	opacity: 0.4;
	font-size: 90px;
}


	/*FORM*/

.registrasi {
	position: absolute;
	left: 10px;
	bottom: 40px;
}

.form-control {
	width: 200px;
}