 @font-face { 
    font-family: Micro; 
    src: url(font/Segoe_UI.woff); 
}

@font-face {
	font-family: Micro_Bold;
	src: url(font/Segoe_UI_Bold.woff);
}

body {
	font-family: Micro;
}

.navbar {
	background-color: #080808;
	font-family: Micro;
}

.icon_nav {
	margin-top: 4px;
	margin-right: 7px;
	border-radius: 10%;
}

.navbar-brand {
	font-size: 19px;
	font-weight: bolder;
}

.vertical {
	background-color: #fff;
	width: 2px;
	height: 25px;
	margin-right: 15px;
	margin-left: 10px;
}

.masuk {
	background-color: transparent;
	border-color: #fff;
	margin-right: 10px;
}

.masuk:hover {
	background-color: #00c4cc;
	border-color: #00c4cc;
}

.daftar {
	background-color: #fff;
	color: black;
	border-color: #fff;
}

.daftar:hover {
	background-color: #00c4cc;
	border-color: #00c4cc;
}

.fas {
	background-color: #1DA89F;
	padding: 7px;
	border-radius: 100%;
	margin-top: 30px;
}

.kategori {
	display: inline-block;
	font-size: 22px;
	margin-bottom: 20px;
}

.col-md-4 {
	text-align: center;
	border: 3px solid #20c997;
	background-color: #35afbe;
}

.kategori_list {
	background-color: #35afbe;
}

.col-md-4 a {
	text-decoration: none;
}

.col-md-4 a:hover {
	color: red;
}