@font-face {
    font-family: Micro;
    src: url(font/Segoe_UI.woff);
}

@font-face {
    font-family: Micro_Bold;
    src: url(font/Segoe_UI_Bold.woff);
}

body {
    font-family: Micro;
}

    /*OPENING*/

.jumbo_title_1 {
    font-size: 40px;
    color: #00c4cc;
    margin-top: 100px;
}

.hr_beranda_1 {
    width: 40px;
    height: 2px;
    background-color: #698898;
    margin-top: 25px;
}

.text_1 {
    color: #4C4C4C;
    margin-top: 30px;
    font-size: 17px;
    margin-bottom: 70px;
}


                            /*FITUR WEBSITE*/

                            .fitur_website {
                                background-color: #efefef;
                            }

                            .jumbo_title_2 {
                                text-align: center;
                                font-size: 30px;
                                color: #698988;
                                margin-top: 70px;
                            }

                            .hr_beranda_2 {
                                width: 40px;
                                height: 2px;
                                background-color: #698898;
                                margin-top: 20px;

                            }

                            .text_2 {
                                color: #4C4C4C;
                                text-align: center;
                                margin-top: 20px;
                            }

                            .fitur-icon {
                                margin-top: 50px;
                                text-align: center;
                                color: #4C4C4C;
                            }

                            .fitur-icon i {
                                font-size: 45px;
                                margin-bottom: 20px;
                            }

                            .fitur-icon p {
                                font-weight: bold;
                                color: #698988;
                                font-size: 18px;
                            }

                            .fitur-icon .deskripsi_fitur {
                                font-weight: normal;
                                font-size: 14px;
                                color: #4C4C4C;
                                margin-bottom: 50px;
                            }